@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "InsigniaRegular";
    src: url("/insignia_regular.otf") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

body {
  background-color: theme("colors.stone.900");
  font-family: "InsigniaRegular", sans-serif !important;
  color: #fde826;
}

.nav-start {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.nav-end {
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

@media screen and (max-width: 238px) {
  h1 {
    font-size: calc(100vw / 238 * 16);
  }
}

@media screen and (max-width: 288px) {
  .card {
    height: calc(100vw / 238 * 318);
  }
  .bravery {
    margin-bottom: calc(100vw / 238 * 40);
  }
  .item {
    width: calc(100vw / 238 * 40) !important;
    height: calc(100vw / 238 * 40) !important;
    border-radius: calc(100vw / 238 * 8) !important;
    margin: calc(100vw / 238 * 3) !important;
  }
  .title {
    font-size: calc(100vw / 238 * 25);
    line-height: calc(100vw / 238 * 29);
  }
}

.card {
  clip-path: polygon(
    5% 0%,
    95% 0%,
    100% 4%,
    100% 96%,
    95% 100%,
    5% 100%,
    0% 96%,
    0% 4%
  );
}

.item {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: theme("colors.stone.800");
  overflow: hidden;
}
